@import "compass/css3";

// colors!
$color-primary: #6699FF;
$color-secondary: #FFED83;
$color-active: rgba(248, 188, 78, 0.5);
$color-active-text: #555;
$color-hover: rgba(255,237,131,0.5);
$color-text: #555;

// media query names
$media-mobile: "only screen and (max-width: 700px)";

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin background-linear-gradient-down($from, $to, $default:$from) {
    background-color: $default;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($from), to($to));
    background-image: -webkit-linear-gradient(top, $from, $to);
    background-image: -o-linear-gradient(top, $from, $to);
    background-image: linear-gradient(to bottom, $from, $to);
    background-image: -moz-linear-gradient(top, $from, $to);
    background-repeat: repeat-x;
    @include filter-gradient($from, $to, vertical);
}

@mixin background-linear-gradient-right($from, $to, $default:$from) {
    background-color: $default;
    background-color: transparent;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($from), to($to));
    background-image: -webkit-linear-gradient(right, $from, $to);
    background-image: -o-linear-gradient(right, $from, $to);
    background-image: linear-gradient(to left, $from, $to);
    background-image: -moz-linear-gradient(right, $from, $to);
    background-position: center top;
    background-repeat: repeat-y;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=0);
}

@mixin border-box {
    @include box-sizing(border-box);
}

@mixin iconsprite($name, $w, $spriteX) {
    &[class*='#{$name}'] {
        background-position: (-$w * $spriteX) 0;

        &:hover {
            background-position: (-$w * $spriteX) (-$w);
        }
        &.active {
            background-position: (-$w * $spriteX) (-($w * 2));
        }
        @content;
    }
}
